# Base RPC URL
BASE_RPC_URL=https://mainnet.base.org

# Base Sepolia RPC URL
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org

# Solana Mainnet RPC URL
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com

# Solana Devnet RPC URL
SOLANA_DEVNET_RPC_URL=https://api.devnet.solana.com
